.custom-calendar {
    font-family: Arial, sans-serif;
    width: 100%;
    border: 1px solid #ccc;
    padding: 10px;
    box-sizing: border-box;
}

.calendar-header {
    font-size: 18px;
    text-align: center;
    margin-bottom: 10px;
}

/* .calendar-grid {
    display: grid;
    grid-template-columns: repeat(7, 1fr);
    gap: 5px;
} */

/* .calendar-cell {
    text-align: center;
    padding: 50px;
    border: 1px solid #ccc;
    background-color: #f2f2f2;
} */